@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  opacity: 0;
  display: none;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
}

body {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 55px;
  padding-bottom: 39px;
  width: 100%;
}
button {
  width: 175px;
  height: 58px;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
}

nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > img {
  border-radius: 0;
  height: 40px;
  width: 40px;
}

nav > button {
  background: #e8eff2;
  color: #162542;
}

nav > button:hover {
  background: #162542;
  color: #fff;
}

p {
  color: #7b8bad;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}

h1 {
  color: #162542;
  font-family: Barlow;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

.first {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 83px;
  padding: 0 15%;
  row-gap: 64px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.grey {
  position: absolute;
  z-index: 2;
  background-color: #e8eff2;
}

.grey1 {
  right: 0;
  top: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.grey2 {
  top: 0;
  left: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.left_text {
  display: flex;
  flex-direction: column;
  max-width: 432px;
  gap: 24px;
}

.left_text > h1 {
  font-size: 56px;
  line-height: 56px; /* 100% */
}

.left_text > p {
  font-size: 18px;
}

.mobile {
  display: none;
}

.left_func {
  display: flex;
  align-items: center;
  gap: 40px;
}

.left_func > button {
  background: #f16718;
  color: #fff;
}

.left_func > button:hover {
  background: #ff9b62;
}

.right {
  border-radius: 20px;
  width: 540px;
  height: 480px;
  background-image: url("./imgs/first_section_img.png");
}

.second {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 72px;
  margin-top: 30px;
  padding: 0 15%;
  position: relative;
}

.second_left {
  display: flex;
  gap: 30px;
}

.second_right {
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 256px;
}

.second_right > h1 {
  font-size: 32px;
  line-height: 36px;
}

.tablet {
  display: none;
}

.third {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 72px;
  margin-top: 168px;
}

.item {
  width: 255px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.item_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item_text > h1 {
  font-size: 24px;
  line-height: 28px;
}

footer {
  margin-top: 128px;
}

span {
  font-weight: 700;
}

@media (max-width: 1450px) {
  .grey {
    display: none;
  }

  .first {
    padding-right: 0;
  }

  .second {
    flex-direction: column;
  }

  .second_left {
    width: 100%;
    justify-content: space-between;
  }

  .second_right {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .tablet {
    display: block;
  }
}

@media (max-width: 1160px) {
  button {
    width: 175px;
    height: 58px;
  }

  main {
    width: 100%;
  }
  nav {
    width: 90%;
  }
  .first {
    padding-right: 0;
    width: 100%;
    padding: 0 5%;
    padding-right: 0;
  }
  .right {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 478px;
    height: 425px;
    background-image: url("./imgs/first_section_img.png");
    background-repeat: no-repeat;
  }
  .left_text > h1 {
    font-size: 48px;
    line-height: 48px;
  }

  .left_text > p {
    font-size: 16px;
  }

  .second {
    width: 100%;
    padding: 0 5%;
    flex-direction: column;
  }

  .second_right {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .third {
    width: 90%;
  }

  .tablet {
    display: block;
  }
}

@media (max-width: 750px) {
  .first {
    flex-direction: column;
  }

  .right {
    border-radius: 20px;
  }

  .third {
    align-items: center;
  }

  .item {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 376px) {
  button {
    width: 150px;
    height: 48px;
  }
  .first {
    flex-direction: column;
  }

  .mobile,
  .tablet {
    display: none;
  }

  .right {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 372px;
    height: 331px;
    background-image: url("./imgs/mobile_keyboard.png");
    background-repeat: no-repeat;
    width: 100%;
  }

  .second {
    padding-left: 0;
  }

  .second_right {
    text-align: center;
    flex-direction: column;
    padding-left: 5%;
  }

  .second_left_left > img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}